body {
    font-family: "Inter", sans-serif;
    line-height: normal;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-style: normal;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {}

/* Хедер */
.header {}

.logo {}

.nav {}

.menu {}

.menu-item {}

.link {}

.nav-menu {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.header-button {
    color: #26c6ea;
    text-align: justify;
    font-family: "HeadlandOne", sans-serif;
    font-size: 20px;
}

.list-leng {}

.leng-item {
    color: #fff;
    text-align: center;
    font-family: "Hammersmith One", sans-serif;
    font-size: 16px;
}

/* Герой */
.hero {}

.hero-tex {
    color: #fff;
    font-size: 20px;
}

.hero-button {
    color: #26c7ea;
    text-align: center;
    font-family: "HeadlandOne", sans-serif;
    font-size: 24px;
}

/* Передбачення */
.foresight {}

.foresight-title {
    color: #0a3853;
    text-align: justify;
    font-size: 36px;
}

.foresight-tex {
    color: #000;
    text-align: center;
    font-size: 24px;
}

/* трейлер */
.button-traile {
    color: #26c7ea;
    text-align: justify;
    font-family: "HeadlandOne", sans-serif;
    font-size: 24px;
}

/* Вчимо мову */
.dictionary {}

.dictionary-tile {
    color: #141414;
    text-align: justify;
    font-family: "HeadlandOne", sans-serif;
    font-size: 32px;
}

.dictionary-list {}

.dictionary-item {}

.dictionary-tex {
    color: #141414;
    text-align: justify;
    font-family: "HeadlandOne", sans-serif;
    font-size: 24px;
    line-height: 24px;
    /* 100% */
}

/* Футер */
.footer {}

.footer-info>.item {
    color: #fff;
    text-align: justify;
    font-size: 20px;
}